html, body {
  background-color: #871F78;
}

p {
  color: #f2cf9d;
}

h2 {
  color: inherit;
  font-family: monospace;
}

aside {
  border: solid 5px #c46404;
}

aside img{
  max-width: 300px;
}

header {
  color: #A66B49;
  font-family: monospace;
  padding: 0 20px;
}

footer {
  border: solid 5px #c46404;
}

main {
  border: solid 5px #c46404;
  text-align: center;
}

nav {
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: pink;
  font-weight: bold;
  padding: 20px 25px;
  text-decoration: none;
}

nav a.right {
  float: right;
}

nav a:hover {
  color: khaki;
  text-decoration: underline;
}

.box {
 width: 300px;
 height: auto;
}

.flex {
 display: flex;
 flex-direction: row;
 align-content: center;
 justify-content: space-around;
}
