html, body {
  background-color: #871F78;
}

p {
  color: #f2cf9d;
}

h2 {
  color: inherit;
  font-family: monospace;
}

aside {
  border: solid 5px #c46404;
}

aside img{
  width: 300px;
}

#aside2 {
  border: solid 5px #c46404;
}

header {
  color: #A66B49;
  font-family: monospace;
  padding: 0 20px;
}

footer {
  border: solid 2px #c46404;

}

main {
  float: left;
  border: solid 5px #c46404;
  margin: 0 90px;
}

nav {
  overflow: hidden;
  float: right;
}

nav a {
  float: left;
  display: block;
  color: pink;
  font-weight: bold;
  padding: 20px 25px;
  text-decoration: none;
}

nav a.right {
  float: right;
}

nav a:hover {
  color: khaki;
  text-decoration: underline;
}

.box {
 width: 300px;
 height: auto;
 border: dotted 8px white;
 align-self: center;
}

.flex {
 display: flex;
 flex-direction: column;
}
