html, body {
  background-color: white;
  margin: 25px;
}

#container {
  overflow: scroll;
  border: solid 10px yellow;

}

h1 {
  font-family: 'Nanum Myeongjo';
}

p {
  font-family: sans-serif;
}

#left-side {
  width: 45%;
}

#left-image img {
  height: 220px;
  text-align: center;
}

#left-image {
  width: 45%;
  text-align: center;
}

#right-side {
  float: right;
  clear: left;
  border: solid 10px blue;
  width: 50%;
}

#right-image img {
  width: 90px;
  left: 300px;
}

#right-image {
  margin: 20px 100px 90px 589px;
  width: 50%;
  text-align: center;
}
