
html, body {
  background-color: black;
  padding: 50px:
}

#content {
  margin: 50px;
  padding: 20px;
  border: solid 10px #fc4605;
  background-color: #575a61;
  overflow: scroll;
}

h2 {
  text-shadow: 5px 5px 5px black;
  letter-spacing: 6px;
  font-family: monospace;
  font-size: 200%;
  color: 	#AA5303;
}

div#header {
  text-shadow: 5px 2px 5px black;
  letter-spacing: 9px;
  font-family: inherit;
  font-size: 180%;
  color: #5e32ba;
}

.title-ps {
  color: #3fab43;
  font-size: 140%;
  font-family: monospace;
}

img {
  width: 500px;
}


#homeButton img {
  width: 120px;
  position: absolute;
  right:  100px;
  bottom: -700px;
}

div#p {
  color: #3fab43;
  font-size: small;
  font-family: monospace;
  position: absolute;
  right:  100px;
  bottom: -730px;
}

iframe#fake {
    width: 800px;
    height: 500px;
    resize: both;
    overflow: hidden;
}

nav {
  top: 0px;
  padding: 8px 15px;
  position: sticky;
  background-color: white;
  border: solid 10px #5e32ba;
  border-radius: 15px;
  width: 6%;
}

a:link {
  color: #aa5303;
  font-weight: bold;
  font-family: monospace;
  font-size: 110%;
}

a:visited {
  color: #aa5303;
  text-decoration: line-through;
}

a:hover {
  color: #3fab43;
  text-decoration: overline;
}

a:active {
  text-decoration: underline;
}
