
html, body {
  background-color: black;
  margin: 25px
}

#content {
  padding: 12px;
  border: double 2px #fc4605;
  background-color: #575a61;
  overflow: scroll;
}

h2 {
  text-shadow: 5px 5px 15px white;
  letter-spacing: 16px;
  font-family: 'Nosifer', cursive;
  text-align: center;
  font-size: 80px;
  color: 	#AA5303;
}

h2:hover{
  font-size: 100px;
  color: 	#8d0101;
  transition: 2s;
}

div#header {
  text-shadow: 5px 2px 5px black;
  letter-spacing: 9px;
  font-family: inherit;
  font-size: 180%;
  color: #5e32ba;
}

.title-ps {
  color: #3fab43;
  font-size: 140%;
  font-family: monospace;
  text-align: center;
  text-shadow: 2px 2px 25px white;
}

img {
  width: 500px;
  filter: drop-shadow(5px 5px 15px black), saturate(100%);
}

#bats {
  text-align: center;
}

#bats:hover {
  transform: rotate(-60deg);
  transition: 2s;
}

#ghost {
  text-align: center;
}

#skeleton {
  text-align: right;
}

#skeleton:hover {
  transform: rotate(-360deg);
  transition: 2s;
}

#pumpkin {
  text-align: center;
}

#pumpkin img {
  border-radius: 250px;
  width: 300px;
}

#cat:hover {
  padding-left: 900px;
  transition: 2s;
}

#vampire:hover {
  transform: rotate(360deg);
  transition: 2s;
}

nav {
  top: 0px;
  padding: 8px 15px;
  position: sticky;
  background-color: black;
  border: solid 10px #5e32ba;
  border-radius: 15px;
  width: 6%;
}

a:link {
  color: #aa5303;
  font-weight: bold;
  font-family: monospace;
  font-size: 110%;
}

a:visited {
  color: #aa5303;
  text-decoration: line-through;
}

a:hover {
  color: #3fab43;
  text-decoration: overline;
}

a:active {
  text-decoration: underline;
}
