body {
    margin: 80px;
    padding:25px;
    border-style: dotted;
    border-width:0px 30px;
    border-color: white;
    background-color: cornflowerblue;
    font-family: sans-serif;
}

div#content {
    background-color: lightsteelblue;
    width:auto;
    height: auto;
}

h1, h2, h3 {
      color: black;
}

p {
  color: white;
}

.photos img {
      height:300px;
      width:auto;
      float: right;
  }

.footer {
      font-family: copperplate;

}
